*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

#wrap{
    border: 0px solid #272626;
    max-width: 1366px;
    height:auto;
}
header{
    border: 0px solid #313131;
    width: 100%;
    height: 245px;
    margin-bottom: 10px;
    overflow: hidden;
}

.owl-carousel div{
    height: 245px;
    background-color: #aaa;
    text-align: center;
}
.owl-carousel div h1{
    position: absolute;
    top: 40%;left: 50%;
}
.owl-dots{
    z-index: 50;
    
}

#parts{
    border: 0px solid #313131;
    width: 100%;height:auto;
    display: flex;
    flex-direction: row;
    -moz-flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

#parts .rect{
    margin: 10px 0;
    width: 255px;height: 90px;
    background-color: #aaa;
}
section{
    width: 100%;height: 245px;
    background-color: #aaa;
    margin: 10px 0;
}

#grid{
    height: 680px;width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
}

#grid .sec{
    margin: 0;
    height: 682px;width: 334px;
    display: flex;
    justify-content: space-between;
}

#grid .sec:nth-child(1){
    background-color: #aaa;
}
#grid .sec:nth-child(4){
    background-color: #aaa;
}

#grid .sec:nth-child(2){
    
    flex-direction:column;
}
#grid .sec:nth-child(3){
   
    flex-direction:column;
}

.sec .small-box{
  width: 100%;height: 336px;
  background-color: #aaa;
}

footer{
    width: 100%;height: 300px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .block{
    margin: 0;
    width: 669px;height: 306px;
    background-color: #aaa;
}
